{% extends 'admin/change_list.html' %}
{% block object-tools %}
  <hr>
  <br>
  <form action="{% url 'admin:users_view' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="id_json_file">Выберите Json файл</label>
    <br>
    <input type="file" id="id_json_file" name="json_file" required />
    <input type="submit" value="Загрузить"/>
  </form>
  <br>
  <hr>
  <br>
  <form action="{% url 'admin:team_view' %}" method="POST">
      {% csrf_token %}
      <p><label for="id_maximum_student">Количество студентов</label>
          <br>
      <input type="number" id="id_maximum_students" name="maximum_students" required /></p>
      <p><label for="id_break_time">Перерыв</label>
          <br>
      <input type="number" id="id_break_time" name="break_time" required /></p>
      <input type="submit" value="Создать команды"/>
  </form>
  {{ block.super }}
{% endblock %}